
#cookie-banner {
    font-family: "Noto Serif Display", sans-serif;
}

#cookie-banner,
#cookie-banner > a,
#cookie-banner > p,
#cookie-message {
  color: white;
}


#cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#cookie-accept {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
}
