/* @import url(https://fonts.googleapis.com/css?family=Raleway); */
html,
body {
  margin: 0;
  height: 100%;
  max-width: 700px;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  scroll-behavior: smooth;
  background-color: whitesmoke;
}
article {
  background-color: white;
}
* {
  box-sizing: border-box;
}

section {
  min-height: 100%;
  /* margin-bottom: 20pt; */
}

h2 {
  font-family: "Noto Serif Display", Bold;

  font-size: 30pt;
  color: #541913;
  vertical-align: center;
  text-align: center;

  /* background-image: url("/assets/mist_background/background.png"); */
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  padding-top: 100px;
}

.ponyvaregeny>img {
  width: 100%;
}

.map {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.mist_background_1 {
  background-image: url("/assets/images/mist_background_1.png");
  margin-bottom: 0px;
  margin-top: 0;
  padding-bottom: 50px;
  background-repeat: no-repeat;
}

.mist_background_2 {
  background-image: url("/assets/images/mist_background_2.png");
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 700px) {

  .mist_background_3 {
    background-image: url("/assets/images/mist_background_3.png");
    width: 100%;
    background-repeat: no-repeat;
  }
}

.mist_background_4 {
  background-image: url("/assets/images/mist_background_4.png");
  width: 100%;
  background-repeat: no-repeat;
}

h4 {
  font-family: "Noto Serif Display", Bold Italic;
  font-size: 17pt;
  font-style: italic;
  text-align: center;
  color: #541913;
  padding-top: 0px;
  padding-bottom: 32px;
}

h3 {
  font-family: "Noto Serif Display", Bold Italic;
  font-size: 20pt;
  font-style: italic;
  text-align: center;
  color: #541913;
  padding-top: 0px;
  padding-bottom: 32px;
}

li {
  font-family: "Noto Sans", Regular;
  font-size: 16pt;
  color: #541913;

}

p {
  font-family: "Noto Sans", Regular;
  font-size: 16pt;
  color: #541913;
  /* padding: 30px 22px 22px 30px; */
  padding-right: 22px;
  padding-left: 22px;
}

p .left {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  text-align: left;
}

.center {
  font-family: "Noto Sans", Regular;
  text-transform: uppercase;
  font-size: 16pt;
  text-align: center;
  color: #541913;
  padding-bottom: 0px;
  align-content: center;
}


section .program {
  text-align: center;
}

section .program>picture {
  /* margin: 64px; */
  /* padding: 32px; */
  padding: 32px;
  align-content: center;
  margin-right: auto;
  margin-left: auto;
}

section .program p {
  margin: 0;
  padding: 0;
}

.heart {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 50px;
}

.heart img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}

.hero-content {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;

  @media (max-width: 700px) {
    background-image: url("/assets/golden_hour/photo_2018-07-07_13-51-23.png");
    background-size: 498px 249px;
    height: 249px;
  }

  @media (min-width: 700px) {
    background-image: url("/assets/golden_hour/photo_2018-07-07_13-51-23@2x.png");
    /* background-size: 996px 598px; */
    height: 320px;
  }
}

.behind-top-nav {
  height: 56px;
}

.hero {
  width: 100%;
  object-fit: cover;
  object-position: center;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.top-nav {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  color: #C57F5F;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* z-index: 100; */
  width: 100%;
  height: 56px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-bottom: 1px solid #333;
  transition: background 400ms cubic-bezier(0.23, 1, 0.32, 1);
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway";
  font-size: 16pt;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
}

.notifications {
  fill: red;
  /* height: 56px;
  width: 56px; */
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  padding: 1em;
}


.top-nav .drop {
  color: white;
  background: #C57F5F;
  height: 56px;
}

.top-nav .logo {
  height: 32pt;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 17px;

}

.logo {
  /* align logo to the center */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* make logo take up all available space */
  flex-grow: 1;
  /* make logo take up all available height */
  height: 56px;
  /* make logo take up all available width */
  width: 100%;
  /* make logo take up all available space */
  margin: 0;
  padding: 0;
  /* make logo take up all available space */
  box-sizing: border-box;
  /* make logo take up all available space */
  position: relative;
  /* make logo take up all available space */
  overflow: hidden;
  /* make logo take up all available space */


}

.logo .logo-inactive,
#menu-toggle:checked~.logo .logo-active {
  display: block;
}

.logo .logo-active,
#menu-toggle:checked~.logo .logo-inactive {
  display: none;
}

/* .bell {
  display: none;
} */
.bell .bell-inactive,
#menu-toggle:checked~.bell .bell-active {
  display: block;
}

.bell .bell-active,
#menu-toggle:checked~.bell .bell-inactive {
  display: none;
}


.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu>li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu a,
.menu a:visited {
  color: white;
  text-decoration: none;
  font-family: "Raleway";
  width: 100%;
  text-align: center;
}

.menu-button-container {
  display: none;
  height: 56px;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  color: #fff;
  background: #541913;

  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}


#menu-toggle:checked+.menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
  background: white;
}

#menu-toggle:checked+.menu-button-container .menu-button {
  background: #C57F5F;
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
  background: white;
}

@media (max-width: 700px) {
  .scroller {
    height: 100%;
    overflow-y: scroll;
    /*
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    */
  }
/*
  .scroller>section {
    scroll-snap-align: start;
  }
  */
}

.menu-button-container {
  display: flex;
}

.menu {
  position: absolute;
  top: 0;
  margin-top: 56px;
  left: 0;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

@media (min-width: 700px) {
  .top-nav {
    margin-left: auto;
    margin-right: auto;
  }
}

#menu-toggle~.menu li {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

#menu-toggle:checked~.menu li {
  border: 1px solid #333;
  height: 2.5em;
  padding: 0.5em;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu>li {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0.5em 0;
  width: 100%;
  color: white;
  background-color: #C57F5F;
}

.menu>li:not(:last-child) {
  border-bottom: 1px solid #444;
}

/* } */
